@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$font-default: "Roboto", sans-serif;
$font-roboto: $font-default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-default: 16px;
$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-md: 20px;
$font-size-lg: 28px;

$font-display-1: 52px;
$font-display-2: 46px;
$font-display-3: 32px;
